$colors: (
    color-barra: #d58cfc,
    color-primario: #f3d9ff,
    color-secundario: #6A388D,
    color-terciario: #482463,
    bk-title: #6A388D,
    sombra: black,
    sombra-img:rgba(88, 1, 105, 0.3),
    letra: white,
    whatsapp: #03C100,
    borde-btn: white,
    
    );

$recuadro: (
    fondo: aliceblue,
    borde: #482463,
    texto: grey,
);





