@import "colors.scss";

h3, h2, h5 {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: map-get($colors , bk-title);
    color: map-get($colors , letra) !important;
    text-align: center;
    text-shadow: 1px 1px 2px map-get($colors , sombra);
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

// h5 {
//     background-color: rgb(208, 127, 255);
//     font-weight: bolder;
//     font-size: 16px;
//     color: red;
// }