@import "../general/colors.scss";

footer {
    min-height: 90px;
    margin-top: 20px;
    padding-top: 20px;
    background-color: map-get($colors , color-barra);
    display: flex;
    .footer__izquierdo {
        width: 50%;
        text-align: center;
        h4 {
            color: map-get($colors , sombra);
            margin: 0;
            padding: 0;
        }
        p {
            color: map-get($colors , sombra);
            margin: 0;
            padding: 0;
        }        
    }

    .footer__derecho {
        width: 50%;
        text-align: center;
        a img {
            width: 35px;
        }
        
    }

    
    
}

@media (max-width: 576px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
        .footer__izquierdo {
            padding-top: 0;
            margin-bottom: 15px;
            width: 100%;

            
        }
        .footer__derecho {
            
            width: 100%;
            
            
        }
    }
}